<div id="about" class="about-area area-padding">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="section-headline text-center">
        <h2>Sell To Us</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @sells.each_slice(4) do |product| %>
        <% product.each do |category| %>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <%= category.description.html_safe %>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>